#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    tap_dance_f12: tap_dance_f12 {
        compatible = "zmk,behavior-tap-dance";
        label = "TAP_DANCE_F12";
        #binding-cells = <0>;
        bindings = <&kp F12>, <&kp LS(LA(F12))>;

        tapping-term-ms = <160>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    macros {
        SHIFT_MCLK: SHIFT_MCLK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_press>,
                <&mkp MB3>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_SHIFT &mkp MB3>;

            label = "SHIFT_MCLK";
        };

        lm: lm {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER &macro_param_2to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER &macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>;

            label = "LM";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC           &none  &kp LS(LG(LA(LC(D))))  &kp LS(LA(LC(LG(I))))  &none  &soft_off                 &kp UP_ARROW     &kp LA(F11)  &tap_dance_f12  &kp LS(LA(LC(LG(Z))))  &kp LS(LG(A))  &none      &tog 6
&sk LS(LEFT_GUI)  &kp Q  &kp W                  &kp E                  &kp R  &kp T                     &kp DOWN_ARROW   &kp Y        &kp U           &kp I                  &kp O          &kp P      &sk RS(RIGHT_GUI)
&sk LEFT_SHIFT    &kp A  &kp S                  &kp D                  &kp F  &kp G                     &kp LEFT_ARROW   &kp H        &kp J           &kp K                  &kp L          &kp ENTER  &sk RSHIFT
&sk RIGHT_ALT     &kp Z  &kp X                  &kp C                  &kp V  &kp B                     &kp RIGHT_ARROW  &kp N        &kp M           &kp COMMA              &kp DOT        &kp FSLH   &sk RIGHT_ALT
&kp C_MUTE        &none  &sk LCTRL              &kp LEFT_ALT           &mo 2  &mt LEFT_GUI BACKSPACE    &kp ENTER        &kp SPACE    &mo 1           &mt LEFT_GUI TAB       &sk RCTRL      &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "base";
        };

        sym {
            bindings = <
&trans      &none          &none          &none         &none         &none            &mmv MOVE_UP     &none         &none          &none       &none         &none          &none
&none       &kp LS(EXCL)   &kp LS(AT)     &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PIPE)     &mmv MOVE_DOWN   &none         &caps_word     &kp SEMI    &kp LS(STAR)  &kp BSLH       &kp EQUAL
&none       &kp LS(POUND)  &kp LS(DLLR)   &kp LS(LPAR)  &kp LS(RPAR)  &kp GRAVE        &mmv MOVE_LEFT   &kp MINUS     &kp LS(UNDER)  &kp EQUAL   &kp LS(PLUS)  &kp SQT        &kp LS(DQT)
&none       &kp LS(PRCNT)  &kp LS(CARET)  &kp LBKT      &kp RBKT      &kp LS(TILDE)    &mmv MOVE_RIGHT  &kp LS(AMPS)  &kp LS(COLON)  &kp LS(LT)  &kp LS(GT)    &kp LS(QMARK)  &kp RIGHT_SHIFT
&kp C_MUTE  &none          &trans         &trans        &mo 3         &trans           &mkp LCLK        &trans        &trans         &trans      &trans        &none
            >;

            display-name = "sym";
            sensor-bindings = <&scroll_encoder>;
        };

        mov {
            bindings = <
&trans  &none                  &none                  &none                  &none                  &none                    &mmv MOVE_UP     &kp LG(Q)                 &none      &none         &none      &none    &none
&mo 5   &kp LS(LA(LC(LG(C))))  &kp LG(LS(LC(LA(F))))  &kp LS(LA(LC(LG(V))))  &kp LS(LA(LC(LG(S))))  &kp LS(LA(LC(LG(G))))    &mmv MOVE_DOWN   &kp LC(LG(LS(NUMBER_4)))  &kp PG_UP  &kp UP        &kp DEL    &none    &none
&none   &kp LG(LEFT_GUI)       &kp LEFT_SHIFT         &kp LEFT_ALT           &kp LCTRL              &mo 5                    &mmv MOVE_LEFT   &kp HOME                  &kp LEFT   &kp DOWN      &kp RIGHT  &kp END  &none
&none   &kp LG(Z)              &kp LG(X)              &kp LG(C)              &kp LG(V)              &kp LG(GRAVE)            &mmv MOVE_RIGHT  &none                     &kp PG_DN  &kp LA(BSPC)  &kp ESC    &none    &none
&none   &lm 5 LEFT_GUI         &lm 5 LEFT_SHIFT       &lm 5 LEFT_ALT         &trans                 &trans                   &mkp LCLK        &sl 4                     &mo 3      &trans        &trans     &none
            >;

            display-name = "mov";
            sensor-bindings = <&scroll_encoder>;
        };

        num {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_CLR           &none  &none   &none   &none   &none   &none    &studio_unlock
&none   &none         &none             &none           &none         &none                &none  &none   &kp N7  &kp N8  &kp N9  &none    &none
&none   &kp LEFT_GUI  &kp LSHIFT        &kp LEFT_ALT    &kp LCTRL     &kp K_VOLUME_UP      &none  &none   &kp N4  &kp N5  &kp N6  &kp DOT  &bl BL_TOG
&none   &kp K_MUTE    &kp C_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_NEXT    &kp K_VOLUME_DOWN    &none  &none   &kp N1  &kp N2  &kp N3  &none    &kp C_BACKLIGHT_TOGGLE
&none   &none         &trans            &trans          &trans        &trans               &none  &trans  &trans  &kp N0  &kp N0  &kp DOT
            >;

            display-name = "num";
            sensor-bindings = <&scroll_encoder>;
        };

        app {
            bindings = <
&trans  &none                  &none                  &none                  &none                  &none                    &none  &none                  &none                  &none                  &none                  &none                  &none
&none   &kp LS(LA(LC(LG(Q))))  &kp LS(LA(LC(LG(W))))  &kp LS(LA(LC(LG(E))))  &kp LS(LA(LC(LG(R))))  &kp LS(LA(LC(LG(T))))    &none  &none                  &kp LS(LA(LC(LG(U))))  &kp LS(LA(LC(LG(I))))  &kp LS(LA(LC(LG(O))))  &kp LS(LA(LC(LG(P))))  &none
&none   &kp LS(LA(LC(LG(A))))  &kp LS(LA(LC(LG(S))))  &kp LS(LA(LC(LG(D))))  &kp LS(LA(LC(LG(F))))  &kp LS(LA(LC(LG(G))))    &none  &none                  &none                  &none                  &none                  &none                  &none
&none   &kp LS(LA(LC(LG(Z))))  &kp LS(LA(LC(LG(X))))  &kp LS(LA(LC(LG(C))))  &kp LS(LA(LC(LG(V))))  &kp LS(LA(LC(LG(B))))    &none  &kp LS(LA(LC(LG(N))))  &none                  &none                  &none                  &none                  &none
&none   &none                  &trans                 &trans                 &trans                 &trans                   &none  &trans                 &trans                 &trans                 &trans                 &none
            >;

            display-name = "app";
            sensor-bindings = <&scroll_encoder>;
        };

        fun {
            bindings = <
&none  &none         &none       &none         &none      &none     &none  &none    &none   &none   &none   &none  &none
&none  &none         &none       &none         &none      &none     &none  &kp F12  &kp F7  &kp F8  &kp F9  &none  &none
&none  &kp LEFT_GUI  &kp LSHIFT  &kp LEFT_ALT  &kp LCTRL  &none     &none  &kp F11  &kp F4  &kp F5  &kp F6  &none  &none
&none  &none         &none       &none         &none      &none     &none  &kp F10  &kp F1  &kp F2  &kp F3  &none  &none
&none  &none         &trans      &trans        &trans     &trans    &none  &trans   &trans  &trans  &trans  &none
            >;

            label = "fun";
        };

        wbase {
            display-name = "wbase";
            bindings = <
&kp ESC         &none  &none         &kp F9        &none  &soft_off              &kp UP_ARROW     &kp LA(F11)  &tap_dance_f12  &kp LG(I)      &none          &none      &tog 6
&sk LS(LCTRL)   &kp Q  &kp W         &kp E         &kp R  &kp T                  &kp DOWN_ARROW   &kp Y        &kp U           &kp I          &kp O          &kp P      &sk RS(RCTRL)
&sk LEFT_SHIFT  &kp A  &kp S         &kp D         &kp F  &kp G                  &kp LEFT_ARROW   &kp H        &kp J           &kp K          &kp L          &kp ENTER  &sk RSHIFT
&sk RIGHT_ALT   &kp Z  &kp X         &kp C         &kp V  &kp B                  &kp RIGHT_ARROW  &kp N        &kp M           &kp COMMA      &kp DOT        &kp FSLH   &none
&kp C_MUTE      &none  &sk LEFT_GUI  &kp LEFT_ALT  &mo 8  &mt LCTRL BACKSPACE    &kp ENTER        &kp SPACE    &mo 7           &mt RCTRL TAB  &sk RIGHT_GUI  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        wsym {
            display-name = "wsym";
            bindings = <
&trans      &none          &none          &none         &none         &none            &mmv MOVE_UP     &none         &none          &none       &none         &none          &none
&none       &kp LS(EXCL)   &kp LS(AT)     &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PIPE)     &mmv MOVE_DOWN   &none         &caps_word     &kp SEMI    &kp LS(STAR)  &kp BSLH       &kp EQUAL
&none       &kp LS(POUND)  &kp LS(DLLR)   &kp LS(LPAR)  &kp LS(RPAR)  &kp GRAVE        &mmv MOVE_LEFT   &kp MINUS     &kp LS(UNDER)  &kp EQUAL   &kp LS(PLUS)  &kp SQT        &kp LS(DQT)
&none       &kp LS(PRCNT)  &kp LS(CARET)  &kp LBKT      &kp RBKT      &kp LS(TILDE)    &mmv MOVE_RIGHT  &kp LS(AMPS)  &kp LS(COLON)  &kp LS(LT)  &kp LS(GT)    &kp LS(QMARK)  &kp RIGHT_SHIFT
&kp C_MUTE  &none          &trans         &trans        &mo 9         &trans           &mkp LCLK        &trans        &trans         &trans      &trans        &none
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        wmov {
            display-name = "wmov";
            bindings = <
&trans  &none         &none              &none            &none         &none            &mmv MOVE_UP     &kp LA(F4)       &none      &none         &none      &none    &none
&mo 11  &kp LS(F1)    &kp LS(F2)         &kp LS(F3)       &kp LS(F4)    &kp LS(F5)       &mmv MOVE_DOWN   &kp PRINTSCREEN  &kp PG_UP  &kp UP        &kp DEL    &none    &none
&none   &kp LCTRL     &kp LEFT_SHIFT     &kp LEFT_ALT     &kp LEFT_GUI  &mo 11           &mmv MOVE_LEFT   &kp HOME         &kp LEFT   &kp DOWN      &kp RIGHT  &kp END  &none
&none   &kp LC(Z)     &kp LC(X)          &kp LC(C)        &kp LC(V)     &kp LA(GRAVE)    &mmv MOVE_RIGHT  &none            &kp PG_DN  &kp LC(BSPC)  &kp ESC    &none    &none
&none   &lm 11 LCTRL  &lm 11 LEFT_SHIFT  &lm 11 LEFT_ALT  &trans        &trans           &mkp LCLK        &sl 10           &mo 9      &trans        &trans     &none
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        wnum {
            display-name = "wnum";
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2   &bt BT_SEL 3      &bt BT_CLR           &none  &none   &none   &none   &none   &none    &none
&none   &none         &none             &none          &none             &none                &none  &none   &kp N7  &kp N8  &kp N9  &none    &none
&none   &kp LCTRL     &kp LSHIFT        &kp LEFT_ALT   &kp LEFT_GUI      &kp C_VOLUME_UP      &none  &none   &kp N4  &kp N5  &kp N6  &kp DOT  &none
&none   &kp C_MUTE    &kp C_PLAY_PAUSE  &kp C_AC_BACK  &kp C_AC_FORWARD  &kp C_VOLUME_DOWN    &none  &none   &kp N1  &kp N2  &kp N3  &none    &none
&none   &none         &trans            &trans         &trans            &trans               &none  &trans  &trans  &kp N0  &kp N0  &kp DOT
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        wapp {
            display-name = "wapp";
            bindings = <
&trans  &none                  &none                  &none                  &none                  &none                    &none  &none                  &none                  &none                  &none                  &none                  &none
&none   &kp LS(LA(LC(LG(Q))))  &kp LS(LA(LC(LG(W))))  &kp LS(LA(LC(LG(E))))  &kp LS(LA(LC(LG(R))))  &kp LS(LA(LC(LG(T))))    &none  &none                  &kp LS(LA(LC(LG(U))))  &kp LS(LA(LC(LG(I))))  &kp LS(LA(LC(LG(O))))  &kp LS(LA(LC(LG(P))))  &none
&none   &kp LS(LA(LC(LG(A))))  &kp LS(LA(LC(LG(S))))  &kp LS(LA(LC(LG(D))))  &kp LS(LA(LC(LG(F))))  &kp LS(LA(LC(LG(G))))    &none  &none                  &none                  &none                  &none                  &none                  &none
&none   &kp LS(LA(LC(LG(Z))))  &kp LS(LA(LC(LG(X))))  &kp LS(LA(LC(LG(C))))  &kp LS(LA(LC(LG(V))))  &kp LS(LA(LC(LG(B))))    &none  &kp LS(LA(LC(LG(N))))  &none                  &none                  &none                  &none                  &none
&none   &none                  &trans                 &trans                 &trans                 &trans                   &none  &trans                 &trans                 &trans                 &trans                 &none
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        wfun {
            bindings = <
&none  &none      &none       &none         &none         &none     &none  &none    &none   &none   &none   &none  &none
&none  &none      &none       &none         &none         &none     &none  &kp F12  &kp F7  &kp F8  &kp F9  &none  &none
&none  &kp LCTRL  &kp LSHIFT  &kp LEFT_ALT  &kp LEFT_GUI  &none     &none  &kp F11  &kp F4  &kp F5  &kp F6  &none  &none
&none  &none      &none       &none         &none         &none     &none  &kp F10  &kp F1  &kp F2  &kp F3  &none  &none
&none  &none      &trans      &trans        &trans        &trans    &none  &trans   &trans  &trans  &trans  &none
            >;

            label = "wfun";
        };
    };
};
